.wrapper span {
    position: fixed;
    bottom: 1150px;
    animation: animate 10s linear infinite;
    z-index: -1;
}

.wrapper span:nth-child(1) {
    left: 0px;
    animation-delay: 0.1s;
}

.wrapper span:nth-child(2) {
    left: 10%;
    animation-delay: 5s;
}

.wrapper span:nth-child(3) {
    left: 20%;
    animation-delay: 9s;
}

.wrapper span:nth-child(4) {
    left: 30%;
    animation-delay: 0.5s;
}

.wrapper span:nth-child(5) {
    left: 40%;
    animation-delay: 6s;
}

.wrapper span:nth-child(6) {
    left: 50%;
    animation-delay: 4s;
}

.wrapper span:nth-child(7) {
    left: 60%;
    animation-delay: 8s;
}

.wrapper span:nth-child(8) {
    left: 70%;
    animation-delay: 7s;
}

.wrapper span:nth-child(9) {
    left: 80%;
    animation-delay: 3.5s;
}

.wrapper span:nth-child(10) {
    left: 90%;
    animation-delay: 2s;
}

@keyframes animate {
    0% {
        transform: translateY(300px);
        opacity: 1
    }

    70% {
        opacity: .8;
    }

    100% {
        transform: translateY(1150px) rotate(360deg);
        opacity: 0
    }
}
